<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>EmptyChairNever</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">    
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" 
          rel="stylesheet" type="text/css">
    <script type="text/javascript">
  jQuery(document).ready(function($) {
      today = new Date();

      BigDay = new Date("September 09, 2013");
      msPerDay = 24 * 60 * 60 * 1000 ;
      timeLeft = (BigDay.getTime() - today.getTime());
      e_daysLeft = timeLeft / msPerDay;
      daysLeft = Math.floor(e_daysLeft);

      $("#countdown").text(daysLeft);
  });
    </script>
    <style type="text/css">

      /* Large desktop */
      @media (min-width: 980px) { 
        body {
         padding-top: 60px;
        }
       .linediv-l {
         border-right: 1px white solid;
        }
       .linediv-r {
         border-left: 1px white solid;
       }
      }

      /* Landscape phones and down */
      @media (max-width: 480px) { 
       .copy {
         padding: 2.5% 10%;
       }
       .linediv-l {
         border-bottom: 1px white solid;
       }
       .linediv-r {
         border-top: 1px white solid;
       }
      }

      /* All form factors */

      /* Main body and headings */
      body{
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      }
      .heading, .subheading {
        font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
        text-align: center;
      }
      p.lead {
        padding-top: 1.5%;
        font-size: 24px;
        line-height: 30px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
      }

      /* Video pitch and Action */
      .pitch {
        padding: 2.5% 0%;
      }
      .order {
        padding: 2% 0%;
      }
      .actions {
        background-color: #343434;
        padding: 3% 0%;
      }
      .video, .thermometer, .order, .social, .statistics {
        text-align: center;
      }
      .statistics h3, .statistics p {
        color: white;
      }

      /* Marketing Copy and Footer */
      .copy {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        text-align: justify;
      }
      .asset {
        padding: 2.5% 0%;
      }
      .footer {
        color: #cccccc;
        text-align: center;
      }
      .footer p {
        font-size: 11px;
      }
      .footer a {
        color: #ccccff;
      }
      /* from https://class.coursera.org/startup-001/forum/thread?thread_id=5932 Csaba Szabo */
      .order {
        margin: 0 auto;
        width: 200px;
      }

     /* http://support.addthis.com/customer/portal/questions/1136093-share-buttons-in-center-position */      
     div.addthis_toolbox {
      width: 174px;
      margin: 0 auto;
     }
    </style>
<script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43034882-2']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

</script>
  </head>
  <body>

    <!-- Mobile-friendly navbar adapted from example. -->
    <!-- http://twitter.github.io/bootstrap/examples/starter-template.html -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar"
                  data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Bitstarter</a>
          <div class="nav-collapse collapse">
          <!--  <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="/orders">Orders</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul> -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- We use row-fluid inside containers to achieve a resizable layout. -->
    <!-- blogs.endjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/ -->
    <!-- http://stackoverflow.com/a/12270322 -->
    <div class="container">
      <!-- Font and paired font of .heading/.subheading and body from Google Fonts -->
      <!-- www.google.com/fonts/specimen/Ubuntu -->
      <!-- www.google.com/fonts/specimen/Ubuntu#pairings -->
      <div class="row-fluid heading">
        <div class="span12">
          <h1>EmptyChairNever</h1>
        </div>
      </div> 
      <div class="row-fluid subheading">
        <div class="span12">
          <!-- Special typography from Bootstrap for lead paragraph. -->
          <!-- http://twitter.github.io/bootstrap/base-css.html#typography -->
          <p class="lead">Helping learners learn and teachers make money</p>
        </div>
      </div>
      <div class="row-fluid pitch">
        <div class="span5 offset1 video">
          <img class="img-polaroid" src="https://dl.dropboxusercontent.com/u/98768620/4886686791_96e404ab24.jpg">
        </div>

        <!-- We define a new 'actions' div to contain statistics, order, and share buttons.-->
        <div class="span5 actions">
          <div class="row-fluid">
          <div class="span8 offset2">
            <div class="row-fluid statistics">
              <div class="span4">
                <!-- linediv-l and linediv-r give dividing lines that look
                different in horizontal and vertical layouts, illustrating
                media queries. -->
                <div class="linediv-l">
		  <% var backers= orders.length; %>
                <h3><%= backers %></h3> <p>backers</p>
                </div>
              </div>
              <div class="span4">
                <div class="linediv-c">
		  <% var bc_sum = 0; %>
		  <% for (var i = 0; i < orders.length; i++) {%>
		     <% bc_sum = bc_sum + orders[i].amount %>
		     <% } %>
                  <h3><%= bc_sum %></h3> <p>of 100</p>
                </div>
              </div>
              <div class="span4">
                <div class="linediv-r">
                <h3 id="countdown"></h3> <p>days left</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row-fluid">
          <div class="span10 offset1">
            <!-- Bootstrap progress bar -->
            <!-- http://twitter.github.io/bootstrap/components.html#progress -->
            <div class="thermometer progress active">
              <div class="bar bar-success" style="width: <%= (bc_sum / 100) * 100 %>%;"></div>
              <div class="bar bar-warning" style="width: <%= 100 - (bc_sum / 100) * 100 %>%;"></div>
            </div>
          </div>
          </div>
          <div class="row-fluid">
          <div class="order">
	    <a class="coinbase-button" data-code="eb90f1f51c19569059c193f911633727" data-button-style="custom_large" href="https://coinbase.com/checkouts/eb90f1f51c19569059c193f911633727">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
<!--	    <a class="coinbase-button" data-button-style="custom_large" 
	       data-button-text="Help with Bitcoin" data-code="77050eabf655839a9ab7cc0849e2435a" href="https://coinbase.com/checkouts/77050eabf655839a9ab7cc0849e2435a">Preorder with Bitcoin</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script> -->
	  </div>
          </div>
          <div class="row-fluid">
          <div class="span8 offset2 social">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
              <a class="addthis_button_preferred_1"></a>
              <a class="addthis_button_preferred_2"></a>
              <a class="addthis_button_compact"></a>
              <a class="addthis_counter addthis_bubble_style"></a>
            </div>
	     <script type="text/javascript">var addthis_config = 
	      {"data_track_addressbar":true};</script>
	     <script type="text/javascript" 
 		     src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5209a60d7c5b8f00"></script>
            <!-- AddThis Button END -->
          </div>
          </div>
        </div>
        </div>
      </div>

      <!-- Beyond this part the marketing copy begins. -->
      <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/text-align -->
      <!-- http://twitter.github.io/bootstrap/base-css.html#images -->
      <!-- http://placehold.it -->
      <div class="row-fluid section1">
        <div class="span5 offset1 asset">
          <img class="img-polaroid" src="https://dl.dropboxusercontent.com/u/98768620/two.people.at.a.cafe.jpg"><!-- Picture from flickr, http://www.flickr.com/photos/ganesha_isis/ -->
        </div>
        <div class="span5 copy">
          <p>
	    As a private English tutor in Japan, every week I deal with rescheduled or canceled lessons. Rescheduling often involves a lot of messaging and miscommunications, and cancelations leave me with an empty wallet. Around half of all lessons end up canceled for the week. Many tutors eventually give up teaching private lessons since they're inconvenient and there are easier ways to make a steady income.
         </p>
        </div>
      </div>

      <div class="row-fluid section2">
        <div class="span5 offset1 copy copy-right">
          <p>
	    That's why I am making EmptyChairNever, a web app that not only lets teachers and students easily reschedule and cancel their lessons but lets other teachers and students take the spot of the cancelation. If a learner cancels, then another learner can take their place. If the teacher cancels, then another teacher can request to teach instead. It's my hope that this app will lead to more learning for busy students and more money for the hungry tutors.
          </p>
        </div>
        <div class="span5 asset">
          <img class="img-polaroid" src="https://dl.dropboxusercontent.com/u/98768620/8006361987_dc68877f5c.jpg"><!-- http://www.flickr.com/photos/79133248@N06/, photo by Denise Oz -->
        </div>
      </div>

      <!-- For the FAQ, we introduce a little bit of JS, using the accordion. -->
      <!-- This brings in jquery.js and bootstrap.js as dependencies. -->
      <!-- http://twitter.github.io/bootstrap/javascript.html#collapse -->
      <div class="row-fluid faq">
          <div class="span10 offset1">
            <h3>FAQ</h3>
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseOne">
                     Why should I help with Bitcoin?
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                  <div class="accordion-inner">
                    Those who help will get to use the beta version of the app and have first access to all new students. Students can request you as their primary teacher, giving you first rights to their schedule requests.
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseTwo">
                    How does it work?
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    Teachers and students signup with EmptyChairNever and broadcast their available times and locations. EmptyChairNever makes the match and schedules the meeting. Lessons can be rescheduled or canceled easily with the app. When a lesson has an empty chair, then others can request to fill it.
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>

      <!-- Not crucial, but we put this under a CC By-SA 3.0 license. -->
      <!-- http://creativecommons.org/licenses/ -->
      <div class="row-fluid footer">
        <div class="span12">
          <p>This work is licensed under
            the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC
              By-SA 3.0
            </a>, without all the cruft that would otherwise be
            put at the bottom of the page.</p>
        </div>
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43034882-2', 'uniquestays.net');
      ga('send', 'pageview');

    </script>
  </body>
</html>
